body {
  margin: 0;
  font-family: sans-serif;
  background-color: #212a3e;
  color: #f1f6f9;
}

img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 30rem;
  margin-bottom: 2rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 340px;
  padding: 5rem 0;
}

.tabs {
  background-color: #394867;
  border-radius: 0.5rem;
  grid-template-rows: auto 1fr;
}

.button {
  padding: 1rem;
  border: none;
  font-size: 1rem;
  background-color: #9ba4b5;
  cursor: pointer;
  letter-spacing: 0.25rem;

  transition: all 0.3s linear;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1) {
  border-top-left-radius: 0.5rem;
  border-right: #212a3e 1px solid;
}

.button:nth-child(3) {
  border-top-right-radius: 0.5rem;
  border-left: #212a3e 1px solid;
}

.button:hover {
  background-color: #394867;
  color: #f1f6f9;
}

.tabs-content {
  padding: 2rem 1.5rem;
}

@media (min-width: 992px) {
  .image {
    margin-bottom: 0;
  }

  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

.content {
  display: none;
}

.content.live {
  display: block;
}

.button.live {
  background-color: #394867;
  color: #f1f6f9;
}
